<!DOCTYPE html>
<html>
<head>
  <title>
    <%=if not yield(:title).empty?
        yield(:title)
      else
        "MavaTech";
      end
    %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'partials/msg'%>
  <%= yield %>
  <%= debug(params) if Rails.env.development?%>
</body>
</html>
